body {
    font-family: 'Nixie One';
    font-size: 20px;
    line-height: 30px;
    background-color: #ffffff;
    color: #17183b;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #17183b;
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    font-family: 'Ephesis';
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    background-color: #9f9fed;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 25px;
}

nav ul li a {
    color: #17183b;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 3rem;
    text-align: center;
}

.about img {
    float: left;
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.about p {
    flex: 1;
    line-height: 1.6;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project {
    background-color:#ffffff;
    border: 5px double #9f9fed;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #17183b;
}

button {
    background-color: #17183b;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #9f9fed;
    color: #17183b;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    input, textarea {
        width: 90%;
    }
}
