body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    background-color: #ffffff;
    color: #17183b;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #17183b;
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    font-family: 'Ephesis';
    text-align: center;
}

h1 {
    font-size: 45px;
    letter-spacing: 3px;
}

h2 {
    font-size: 35px;
}

h4 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    background-color: #9f9fed;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: #17183b;
    text-decoration: none;
    font-weight: 400;
}

a {
    color: #6290c8;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

a:hover {
    color: #cba328;
}

.link-center {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.about img {
    float: left;
    max-width: 50%;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.about p {
    flex: 1;
    line-height: 2;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project {
    background-color:#ffffff;
    border: 5px double #9f9fed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    height: 100%;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.resume {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
}

ul li {
    list-style-position: inside;
}

button {
    background-color: #17183b;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#contact {
    text-align: center;
    padding: 2rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* helpful if screen is small */
    margin-top: 1rem;
}

.contact-links a {
    padding: 10px 15px;
    color: #6290c8;
    font-weight: 500;
}

.contact-links a:hover {
    color: #cba328;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #9f9fed;
    color: #17183b;
    width: 100%;
    bottom: 0;
}

section {
    padding: 3rem;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        padding: 10px;
    }
   
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    input, textarea {
        width: 90%;
    }
}
